@charset "EUC-KR";
.menu_nav_list {
	position: relative;
	display: -webkit-flex;
	display: inline-flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: 0;
	margin-left: 15px;
	margin-right: 15px;
	padding: 0;
	list-style: none;
}

.title, .title_login{
	margin-bottom: 0.3rem;
}

.munu_nav{
	display: inline-flex;
}

.menu__item, .menu__link{
	font-family: 'Jalnan';
	font-size: 1.1em;
}

.menu_nav .menu__link {
	width: 180px;
	height: 3em;
	text-align: center;
	color: #b5b5b5;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
}

.menu_nav .menu__link:hover,
.menu_nav .menu__link:focus {
	color: #929292;
}

.menu_nav .menu__item--current .menu__link {
	color: #d94f5c;
	-webkit-transition: color 0.5s;
	transition: color 0.5s;
}

.menu_nav .menu__item:nth-child(1).menu__item--current ~ .menu__line {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0%, 0, 0);
}

.menu_nav .menu__item:nth-child(2).menu__item--current ~ .menu__line {
	-webkit-transform: translate3d(100%, 0, 0);
	transform: translate3d(100%, 0, 0);
}

.menu_nav .menu__item:nth-child(3).menu__item--current ~ .menu__line {
	-webkit-transform: translate3d(200%, 0, 0);
	transform: translate3d(200%, 0, 0);
}

.menu_nav .menu__item:nth-child(4).menu__item--current ~ .menu__line {
	-webkit-transform: translate3d(300%, 0, 0);
	transform: translate3d(300%, 0, 0);
}

.menu_nav .menu__item:nth-child(5).menu__item--current ~ .menu__line {
	-webkit-transform: translate3d(400%, 0, 0);
	transform: translate3d(400%, 0, 0);
}

@media screen and (max-width:55em) {
	.menu_nav .menu__line {
		top: 3em;
	}

	.menu_nav .menu__item:nth-child(1).menu__item--current ~ .menu__line {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}

	.menu_nav .menu__item:nth-child(2).menu__item--current ~ .menu__line {
		-webkit-transform: translate3d(0, 3em, 0);
		transform: translate3d(0, 3em, 0);
	}

	.menu_nav .menu__item:nth-child(3).menu__item--current ~ .menu__line {
		-webkit-transform: translate3d(0, 6em, 0);
		transform: translate3d(0, 6em, 0);
	}

	.menu_nav .menu__item:nth-child(4).menu__item--current ~ .menu__line {
		-webkit-transform: translate3d(0, 9em, 0);
		transform: translate3d(0, 9em, 0);
	}

	.menu_nav .menu__item:nth-child(5).menu__item--current ~ .menu__line {
		-webkit-transform: translate3d(0, 12em, 0);
		transform: translate3d(0, 12em, 0);
	}
}

#top{
	width:50px;
	height: 50px;
	font-size: larger;
	font-weight: bold;
	text-align: center;
	line-height: 50px;
	position:fixed;
	right:  20px;
	bottom: 20px;
	cursor: pointer;
}

.btn_login>input.input_btn{
	width: 10em;
}
	
.join tr, .join td{
	padding: 0.2em 0.5em 0.2em 0.5em;
	align-items: center;
	vertical-align: middle;
}

.join td{
	height: 4em;
}

.join>tr{
	text-align: center;	
}

.join tr:nth-last-child() td:nth-last-child(){
	direction: row;
}

label{
	margin: 0;
}



.searchbox{
	padding: 2em;
	padding-top: 0.3em;
	padding-bottom: 0.3em;
	float: none;
	margin-bottom: 1em;
	display: inline-flex;
	width: 110%;
	text-align: center;
}

.searchbox>div{
	display: flex;
	height: auto;
	padding: 0.1em 0;
	font-size: 1.5em;
}

.searchbox>input[type="search"]{
	width: 70%;
	margin: 0 0.5em;
	padding: 0 1.5em;
}

.searchbox>input[type="submit"]{
	vertical-align: middle;
	height: auto;
}

.searchlist_table{
	align-content: left;
}

.searchlist_table tr>td:nth-child(1){
	text-align: center;
	width: 40%;
}

.searchlist_table tr>td:nth-child(2){
	padding: 0 3em;
	width: 60%;
}

.img_dog{
	width: auto;
	height: auto;
	display: block;
	margin: auto;
}

.img_dog>img{
	display: block;
	margin: auto;
}

.searchResult{
	display: -webkit-flex;
	flex-wrap: wrap;
	margin-bottom: 1.5em;
}

.searchResult div{
	margin: 0.5em 3em;
	width: 4em;
	text-align: center;
}
td{
	font-size: 14px
}

